.bobb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-page {
    display: flex;
    width: 80%;
    margin: auto;
  }
  
  .signup-image-container {
    flex: 1;
    background-color: #333;
  }
  
  .signup-main-box {
    flex: 1;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .signup-container {
    text-align: center;
  }
  
  .signup-box {
    width: 300px;
    margin: auto;
  }
  
  .signup-username-box {
    position: relative;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: #888;
    pointer-events: none;
    transition: 0.3s;
  }
  
  input:focus + label,
  input:not(:placeholder-shown) + label {
    top: -15px;
    left: 0;
    font-size: 12px;
    color: #333;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .signup-button-box-outer {
    margin-top: 20px;
  }
  
  .signup-button-box input {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .already {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .link {
    color: #007bff;
    cursor: pointer;
    margin-left: 5px;
  }
  

  